<!DOCTYPE html>
<html lang="en">
<head>
  <title>Status SySTEM Junji</title>
  <link rel="shortcut icon" href="https://elperiodistaonline.cl/locales/files/2015/03/junji.png" type="image/x-icon" /> <!--/* icono del titulo */-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <meta http-equiv="refresh" content="1800;URL="> <!--  refresh cada 30 minutos (media hora) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
  html {
    min-height: 100%;
    position: relative;
  }
  body {
      font: 20px Montserrat, sans-serif;
      min-width: 100%;
      min-height: 100%;
      /* overflow-y: scroll;
	    overflow-x: hidden;
      overflow-y: hidden;
	    overflow-x: scroll; */
  }
  footer {
    position: bottom;
    bottom: 0;
  }
  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container"><br>
      <strong><a class="navbar-brand text-white" href="#">
        <!-- {% load static %}
        <img src="{% static 'imgs/JUNJI.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt=""> -->
            STATUS SySTEMs Junji
      </a></strong>
  </div>
</nav>
<!-- First Container -->
{% load static %}
<div class="bg-1 bg-dark" style="background-image: url({% static 'imgs/fondiv.png' %})">
  <br>
  <div class="container-fluid" >
     <div class="row">
       <div class="col-md-12">
             <div class="card-deck">
                {% for x in eqp %}
                    {% if x.estado == 0%}
                      <div class="col-sm-2">
                          <div class="card border-primary text-white mb-3" style="max-width: 18rem;">
                            {% load static %}
                              <img class="card-img" src="{% static 'imgs/fondoverde.jpg' %}" style="width: 205px; height: 214px">
                              <div class="card-img-overlay">
                                  <div class="card-body">
                                     <h6 class="card-title">{{x.ip}}</h5>
                                     <p class="card-text text-center">{{x.nombre}}</p>
                                  </div>
                                  <div class="card-footer" style="height: 50px;">
                                    <strong><p class="card-text text-center">OK</p></strong>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <br><br><br>
                    {% else %}
                      <div class="col-sm-2">
                          <div class="card border-warning text-white mb-3" style="max-width: 18rem;">
                            {% load static %}
                              <img class="card-img" src="{% static 'imgs/fondorojo2.jpg' %}" style="width: 205px; height: 214px">
                              <div class="card-img-overlay">
                                  <div class="card-body">
                                     <h6 class="card-title">{{x.ip}}</h5>
                                     <p class="card-text text-center">{{x.nombre}}</p>
                                  </div>
                                  <div class="card-footer">
                                      <strong><p class="card-text text-center">DOWN</p></strong>
                                  </div>
                              </div>
                          </div>
                      </div>
                    {% endif %}
                {% endfor %}
          </div>
       </div>
     </div>
     <br>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
</div>
<!-- Footer -->
<footer class="navbar navbar-dark bg-dark">
  <br>
  <div class="container">
    <br>
    <p class="navbar-brand text-center text-white">© Copyright 2018, All rights reserved JUNJI.</p>
    <br><br>
  </div>
</footer>
</body>
</html>
